<ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Procurar utilizador"></ion-searchbar>
 
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="!searching && (users==null || users.length==0)">
        <p>{{ 'CHAT_NO_USERS' | translate}}</p>
    </div>
    
    <ion-list>
        <ion-list-header *ngIf="chatUsers.length>0">Utilizadores</ion-list-header>
        <ion-item *ngFor="let chatUser of chatUsers" (click)="openUser(chatUser)">
            <ion-avatar item-left>
                <img [src]="chatUser.photo | safe: 'url'" class="profile-pic" *ngIf="chatUser.photo"/>
                <img [src]="defaultPic" class="profile-pic" *ngIf="!chatUser.photo"/>
            </ion-avatar>
            <h2>{{chatUser.userName}}</h2>
            <p class="user-state"> 
                <span class=" user-state-{{chatUser.state}}">0</span> 
                {{chatUser.lastMessage}}
            </p>
            <ion-badge *ngIf="chatUser.alerts>0" item-right item-right color="danger">
                {{ chatUser.alerts || 0 }}
            </ion-badge>
        </ion-item>
    </ion-list>
    
</ion-content>