page-chat {

    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }

    .spinner-container {
        z-index: 9999;
        transition: z-index 0.2s step-start;
        width: 100%;
        height: 100%;
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .backdrop {
            opacity: 0.3;
        }

        ion-spinner {
            width: 60px;
            height: 60px;
        }
        
    }
}
