page-profile {

    * {
        margin: 0;
        padding: 0
    }

    ion-content.statusbar-padding:first-child .scroll-content{
        padding: 0 !important;
    }

    ion-content{
        background-color: #f4f4f4
    }

    #frist_div {
        position: relative;
        background: #ccc;
    }

    img p h6{
        display: block;
    }

    .head_img {
        border-radius:50%;
        position: absolute;
        top: 15%;
        left: 36%;
        width: 28%;
        height: 42%;
    }

    .user_text {
        position: absolute;
        top: 70%;
        text-align: center;
        width: 100%;
    }

    ion-item:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    ion-item:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #CCC !important;
        /*-webkit-box-shadow: inset 0 -1px 0 0 color($colors, primary) !important;
        box-shadow: inset 0 -1px 0 0 color($colors, primary) !important;*/
        box-shadow: none !important;
    }

    ion-footer .item-inner{
        border: none !important;
    }
    /*
    .user-photo{
        width: 100%;
        min-height: 140px;
        text-align: center;

        img {
            display: inline-block !important; 
            max-width: 160px; 
            max-height: 130px; 
            border-radius: 20px;
        }
    }*/

}