<ion-content>
    <div id="frist_div" style="width: 100% ;height: 40%;" *ngIf="user">
        <img src="assets/img/hospital-bg.jpg" style="width: 100% ;height: 100%">
        <img [src]="user.photo | safe: 'url'" *ngIf="user.photo" alt="" src="" class="head_img">
        <img [src]="defaultPic" *ngIf="!user.photo" alt="" src="" class="head_img">
        <h4 class="user_text"><strong>{{user.userFullname}}</strong></h4>
    </div>

    
    <ion-item *ngIf="user">
        <ion-label stacked>{{ 'NAME' | translate}}</ion-label>
        <ion-input [(ngModel)]="user.userFullname" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="user">
        <ion-label stacked>{{ 'EMAIL' | translate}}</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="user">
        <ion-label stacked>{{ 'INSTITUTION' | translate}}</ion-label>
        <ion-input [(ngModel)]="user.entityName" readonly></ion-input>
    </ion-item>

</ion-content>

<ion-footer no-border>
    <button ion-item *ngIf="user">
      <ion-icon name="settings" item-left></ion-icon>
      Editar Conta
    </button>
</ion-footer>

<!--
<ion-content>
    <ion-item *ngIf="user" class="user-photo">
        <img [src]="user.photo | safe: 'url'" *ngIf="user.photo" alt="" src="">
        <img [src]="defaultPic" *ngIf="!user.photo" alt="" src="">
    </ion-item>
    
    <ion-item *ngIf="user">
        <ion-label stacked>{{ 'NAME' | translate}}</ion-label>
        <ion-input [(ngModel)]="user.userFullname" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="user">
        <ion-label stacked>{{ 'EMAIL' | translate}}</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="user">
        <ion-label stacked>{{ 'INSTITUTION' | translate}}</ion-label>
        <ion-input [(ngModel)]="user.entityName" readonly></ion-input>
    </ion-item>
</ion-content>
-->