<ion-header>
  <ion-navbar color="secondary">
       <ion-title>Episódio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-avatar class="user-photo">
            <img [src]="'data:image/jpeg;base64,'+episode.patientPhoto | safe: 'url'" *ngIf="episode.patientPhoto">
            <img [src]="defaultPic" *ngIf="!episode.patientPhoto">
        </ion-avatar>
    </ion-item>
    
    <ion-item>
        <ion-label stacked>Utente</ion-label>
        <ion-input [(ngModel)]="episode.patientName" readonly></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>EFR</ion-label>
        <ion-input [(ngModel)]="episode.insuranceDesc" readonly></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Hora</ion-label>
        <ion-input [(ngModel)]="episode.scheduledStartDate" readonly></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Serviço</ion-label>
        <ion-input [(ngModel)]="episode.serviceName" readonly></ion-input>
    </ion-item>


</ion-content>