page-episode {

    ion-item:not(:first-child) {
        .item-inner{
            border-bottom-color: #CCC !important;
            box-shadow: none !important;
        }
    }

    ion-avatar.user-photo{
        width: 100%;
        min-height: 96px;
        text-align: center;

        img {
            display: inline-block !important; 
            width: 81px !important; 
            height: 81px !important; 
        }
    }

    ion-segment {
        padding: 0px 14px;
    }    
    .segment-md .segment-button.activated, 
    .segment-md .segment-button.segment-activated {
        border-color: white;
    }
    .segment-md .segment-button {
        color: white;
    }

    // fix: back button with segment in bar
    ion-navbar button.back-button{
        z-index: 10;
    }

}
