<ion-content>
    <ion-navbar color="secondary">
        <!--<ion-title>{{ 'EPISODE' | translate}}</ion-title>-->
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="episode">Episódio</ion-segment-button>
            <ion-segment-button value="history">Histórico</ion-segment-button>
        </ion-segment>
    </ion-navbar>

    <div *ngIf="loading" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>

    <div [ngSwitch]="segment">

        <div *ngSwitchCase="'episode'">
            <ion-item>
                <ion-avatar class="user-photo">
                    <img [src]="'data:image/jpeg;base64,'+episode.patientPhoto | safe: 'url'" *ngIf="episode.patientPhoto">
                    <img [src]="defaultPic" *ngIf="!episode.patientPhoto">
                </ion-avatar>
            </ion-item>
            
            <ion-item>
                <ion-label stacked>{{ 'PATIENT' | translate}}</ion-label>
                <ion-input [(ngModel)]="episode.patientName" readonly></ion-input>
            </ion-item>

            <ion-item *ngIf="episode.insuranceDesc">
                <ion-label stacked>{{ 'EFR' | translate}}</ion-label>
                <ion-input [(ngModel)]="episode.insuranceDesc" readonly></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>{{ 'HOUR' | translate}}</ion-label>
                <ion-input [(ngModel)]="episode.scheduledStartDateTime" readonly></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>{{ 'SERVICE' | translate}}</ion-label>
                <ion-input [(ngModel)]="episode.serviceName" readonly></ion-input>
            </ion-item>
        </div>

        <div *ngSwitchCase="'history'">
            <ion-list no-lines>
                <ion-item *ngFor="let his of history">
                    <h2 item-left> {{ his.scheduledStartDate }} {{ his.scheduledStartDateTime }} </h2>
                    <p> {{ his.teamName }}, {{ episode.serviceName }}</p>
                </ion-item>
            </ion-list>
        </div>

    </div>

</ion-content>