<ion-content>
    <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" 
                      pickerFormat="DD MM YYYY" 
                      [(ngModel)]="currentDate" 
                      (ionChange)="dateChanged()"
                      yearValues="2017"></ion-datetime>
    </ion-item>
    <ion-list>
        <ion-item *ngFor="let episode of episodes" (click)="openEpisode(episode)">
            <ion-avatar item-left>
                <ion-avatar item-left>
                <img [src]="'data:image/jpeg;base64,'+episode.patientPhoto | safe: 'url'" class="profile-pic" *ngIf="episode.patientPhoto"/>
                <img [src]="defaultPic" class="profile-pic" *ngIf="!episode.patientPhoto"/>
            </ion-avatar>
            </ion-avatar>
            <div class="app-state" [ngClass]="episode.colorState"></div>
            <h2> {{ episode.scheduledStartDate }} </h2>
            <h3> {{ episode.patientName }}, {{ episode.patientAge }} anos </h3>
            <p> {{ episode.areaCode }} - {{ episode.serviceName }} </p>
        </ion-item>
    </ion-list>
</ion-content>