page-messages {
 
  $userBackgroundColor: #387ef5;
  $toUserBackgroundColor: #fff;

  ion-header{
    .toolbar-ios, .title-ios {
        height:  $toolbar-ios-height !important;
        max-height:  $toolbar-ios-height !important;
        min-height:  $toolbar-ios-height !important;
        padding-top: 0 !important;
    }
  }

  // new
  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 55px;
  }

  .line-breaker {
    white-space: pre-line;
  }

  ion-content .scroll-content {
    background-color: #f5f5f5;
  }

  input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;

    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    ion-input {
      border-bottom: 1px $userBackgroundColor;
      border-style: solid;
    }
  }

  .chat-box {
    padding: 0 10px;
    .message {
      position: relative;
      padding: 7px 0;
      .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: #888;
          }
        }

        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          border: 1px solid #ddd;
          color: #fff;
          width: auto;

          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }

      }
    }

    .message.left {
      .msg-content {
        background-color: $toUserBackgroundColor;
        float: left;
      }
      .msg-detail {
        padding-left: 60px;
      }
      .user-img {
        left: 0;
      }
      .msg-content {
        color: #343434;
        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }
    }

    .message.right {
      .msg-detail {
        padding-right: 60px;
        .msg-info {
          text-align: right;
        }
      }
      .user-img {
        right: 0;
      }
      .msg-content {
        background-color: $userBackgroundColor;
        float: right;
        span.triangle {
          background-color: $userBackgroundColor;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -5px;
        }
      }

    }

  }
  //
/*
  .bar-footer {
    overflow: visible !important;
  }
  .bar-footer textarea {
    resize: none;
    height: 25px;
  }
  // fixes an ios bug bear 
  button.ion-android-send {
    padding-top: 2px;
  }
  .footer-btn {
    font-size: x-large;
  }

  .chat-box{ margin-top: 56px; }
  
  img.profile-pic, .chat-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
  }
  img.profile-pic.left, .message-detail.left {
    left: 10px;
  }
  img.profile-pic.right, .message-detail.right {
    right: 10px;
  }
  .ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
  }
  .message {
    font-size: 14px;
  }
  .message-detail {
    position: absolute;
    bottom: 55px;
    white-space: nowrap;
  }
  .message-detail .timestamp {
    font-size: 11px;
    color: darkgrey;
  }
  .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
  }
  .message-wrapper {
    position: relative;
  }
  .message-wrapper:last-child {
    margin-bottom: 10px;
  }
  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 8px 14px;
    position: relative;
    margin: 10px;
    max-width: 80%;
    min-width: 12%;
  }
  .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }
  .chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
  }
  .chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
  }
  .chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px;
  }
  .chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
  }
  .chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
  }
  .user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
  }
  .msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
  }
  input,
  textarea,
  .item-input,
  .item-input-wrapper {
    background-color: #f4f4f4 !important;
  }
  .bold {
    font-weight: bold;
  }
  .cf {
    clear: both !important;
  }
  a.autolinker {
    color: #3b88c3;
    text-decoration: none;
  }*/
}