<ion-content>
  <ion-navbar color="secondary" ion-fixed>
    <ion-title>{{chatUser.userName}}</ion-title>
  </ion-navbar>

  <div *ngIf="loading" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <div #chatbox class="chat-box" *ngIf="userMessages">
    <div *ngFor="let message of userMessages" class="message-wrapper">
      <div *ngIf="message && user.userId != message.sender.userId">
        <!--<message-component [msgSide]="'left'" [message]="message"></message-component>-->
          <img [src]="message.sender.photo || userPic" class="profile-pic left" *ngIf="message"/>
          <div class="chat-bubble left slide-left" *ngIf="message">
            <div class="message" *ngFor="let msg of message.messages" autolinker>
              <p [innerHTML]="msg"></p>
            </div>
          </div>    
          <div class="message-detail left">
            <span class="timestamp">{{message.timestamp | moment:'HH:mm' | lowercase}}</span>
          </div> 
      </div>
      <div *ngIf="message && user.userId === message.sender.userId">
        <!--<message-component [msgSide]="'right'" [message]="message"></message-component>-->
        <img [src]="message.sender.photo || userPic" class="profile-pic right" *ngIf="message"/>
        <div class="chat-bubble right slide-right" *ngIf="message">
          <div class="message" *ngFor="let msg of message.messages" autolinker>
            <p [innerHTML]="msg"></p>
          </div>
        </div>    
        <div class="message-detail right">
          <span class="timestamp">{{message.timestamp | moment:'HH:mm' | lowercase}}</span>
        </div> 
      </div>
      <div class="cf"></div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <form [formGroup]="messageForm" (submit)="send(chatBox)" novalidate>
    <ion-item>
      <ion-input formControlName="message" [(ngModel)]="chatBox" [disabled]="chatUser.state!='online'"></ion-input>
      <button ion-button clear (click)="send(chatBox)" item-right [disabled]="chatUser.state!='online'">
          {{ 'SEND' | translate}}
          <ion-icon class="footer-btn" name="send" style="padding-left: 5px;"></ion-icon>
      </button>
    </ion-item>
  </form>
</ion-footer>